# Dependencies
prosalonpos-server/node_modules/
prosalonpos-station/node_modules/

# Environment variables
prosalonpos-server/.env
prosalonpos-station/.env

# Prisma generated client
prosalonpos-server/node_modules/.prisma/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
